<ul class="menu">
	<li class="menu-item">
		<a href="/admin/dashboard">
			<div class="menu-parent menu-title">Dashboard</div>
		</a>
		<ul class="sub-menu">
			<li class="sub-menu-item">
				<a href="#">
					<div class="sub-menu-title">ABC</div>
				</a>
			</li>
			<li class="sub-menu-item">
				<a href="#">
					<div class="sub-menu-title">ABC</div>
				</a>
			</li>
			<li class="sub-menu-item">
				<a href="#">
					<div class="sub-menu-title">ABC</div>
				</a>
			</li>
		</ul>
	</li>
	<li class="menu-item">
		<a href="/admin/settings">
			<div class="menu-parent menu-title">Settings</div>
		</a>
		<ul class="sub-menu">
			<li class="sub-menu-item">
				<a href="/admin/settings/menu">
					<div class="sub-menu-title">ABC</div>
				</a>
			</li>
			<li class="sub-menu-item">
				<a href="#">
					<div class="sub-menu-title">ABC</div>
				</a>
			</li>
			<li class="sub-menu-item">
				<a href="#">
					<div class="sub-menu-title">ABC</div>
				</a>
			</li>
		</ul>

	</li>

</ul>
