<header>
	<nav class="nav-left">
		<ul>
			<li><a href="/admin/dashboard">Dashboard</a></li>
			<li><a href="/">View site</a></li>
		</ul>
	</nav>
	<nav class="nav-right">
		<ul>
			<li><a href="/logout">Log out</a></li>
		</ul>
	</nav>
</header>
