<ul class="menu">
	<li class="menu-item">
		<a href="/admin/dashboard">
			<div class="menu-parent menu-title">Dashboard</div>
		</a>
	</li>
	<li class="menu-item">
		<a href="/admin/vehicles">
			<div class="menu-parent menu-title">Vehicles</div>
		</a>
		<ul class="sub-menu">
			<li class="sub-menu-item">
				<a href="/admin/vehicles/all">
					<div class="sub-menu-title">All vehicles</div>
				</a>
			</li>
			<li class="sub-menu-item">
				<a href="/admin/vehicles/add">
					<div class="sub-menu-title">Add vehicle</div>
				</a>
			</li>
			<li class="sub-menu-item">
				<a href="/admin/vehicles/models">
					<div class="sub-menu-title">Models</div>
				</a>
			</li>
		</ul>
	</li>
	<li class="menu-item">
		<a href="/admin/appearance">
			<div class="menu-parent menu-title">Appearance</div>
		</a>
	</li>
	<li class="menu-item">
		<a href="/admin/settings">
			<div class="menu-parent menu-title">Settings</div>
		</a>
		<ul class="sub-menu">
			<li class="sub-menu-item">
				<a href="/admin/settings/menu">
					<div class="sub-menu-title">Menu</div>
				</a>
			</li>
		</ul>
	</li>
	<li class="menu-item">
		<a href="/admin/users/all">
			<div class="menu-parent menu-title">Users</div>
		</a>
		<ul class="sub-menu">
			<li class="sub-menu-item">
				<a href="/admin/users/all">
					<div class="sub-menu-title">All users</div>
				</a>
			</li>
			<li class="sub-menu-item">
				<a href="/admin/users/add">
					<div class="sub-menu-title">Add New</div>
				</a>
			</li>
		</ul>
	</li>


</ul>
