{% extends "admin/layout.admin.twig" %}

{% block title %}Settings::Menu
{% endblock %}

{% block pageTitle %}Menu Settings
{% endblock %}

{% block content %}
	<h2>Add a menu</h2>
	<div class="add-menu">
	{{F}}
	</div>
{% endblock %}
