$black: #23282d;
$blue: #00b9eb;
$white: #eee;
$warning: #d9534f;
$green: #5cb85c;
$defaultFontSize: 14px;
@font-face {
	font-family: "jura";
	src: url(../fonts/Jura-SemiBold.ttf);
}
$font_family: "Segoe UI", "jura", "arial", monospace, sans-serif;
body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	font-family: $font_family;
	font-size: $defaultFontSize;
	background-color: #f1f1f1;
	h1 {
		font-weight: 500;
	}
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-weight: 400;
	}
	header {
		background-color: $black;
		position: fixed;
		width: 100%;
		max-height: 35px;
		display: flex;
		z-index: 9999;
		.nav-left {
			flex: 0 0 75%;
		}
		.nav-right {
			flex: 0 0 25%;
			text-align: right;
		}
		ul {
			margin: 0;
			padding: 8px;
			list-style: none;
			li {
				display: inline;
				padding-right: 8px;
				a {
					color: $white;
					text-decoration: none;
					&:hover {
						color: $blue;
					}
				}
			}
		}
	}
	main {
		display: flex;
		& > * {
			margin-top: 30px;
		}
		aside {
			// flex: 0 0 15%;
			flex: 0 0 160px;
			// height: 100vh;
			background-color: $black;
			position: fixed;
			width: 160px;
			bottom: -120px;
			top: 0;
			a {
				color: #fff;
			}
			ul.menu {
				padding: 0;
				li.menu-item {
					position: relative;
					a {
						text-decoration: none;
					}
					&.menu-open {
						div.menu-title {
							background-color: #0073aa;
							position: relative;
							&::after {
								right: 0;
								border: solid 8px #0000;
								content: " ";
								height: 0;
								width: 0;
								position: absolute;
								pointer-events: none;
								border-right-color: #f1f1f1;
								top: 50%;
								margin-top: -8px;
							}
						}
					}
					& > a {
						div.menu-title {
							padding: 8px 0 8px 8px;
						}
					}
					&:not(.menu-open) {
						div.menu-title {
							&:hover {
								background-color: #191e23;
							}
						}
						ul.sub-menu {
							display: none;
						}
						&:hover {
							ul.sub-menu {
								display: block;
								width: 160px;
								position: absolute;
								top: 0;
								left: 160px;
								padding-top: 10px;
								padding-bottom: 10px;
							}
							&::after {
								right: 0;
								border: solid 8px #0000;
								content: " ";
								height: 0;
								width: 0;
								position: absolute;
								pointer-events: none;
								border-right-color: #32373c;
								top: 50%;
								margin-top: -8px;
							}
						}
					}
					// Sub menu style
					ul.sub-menu {
						list-style: none;
						padding: 0;
						background-color: #32373c;
						li {
							a {
								color: #b4b9be;
								&:hover {
									color: $blue;
								}
								.sub-menu-title {
									padding: 8px 0 8px 8px;
								}
							}
							&.menu-open.sub-menu-item a {
								color: $white;
								font-weight: 600;
							}
						}
					}
				}
			}
		}
	}
	article {
		flex: 0 0 85%;
		// padding: 0 20px;
		padding-left: 180px;
		.admin-page-header {
			display: flex;
			align-items: center;
		}
		.info-box {
			ul {
				padding: 0;
				list-style: none;
				li {
					padding: 8px 8px 8px 20px;
					background-color: #fff;
					color: #222;
					border-left: 4px solid;
					&.error {
						border-left-color: $warning;
					}
					&.success {
						border-left-color: $green;
					}
				}
			}
		}
		.pretable {
			display: flex;
			align-items: center;
			& > *:first-child {
				flex: 1 1 70%;
			}
			& > *:nth-child(2) {
				flex: 1 1 30%;
			}
			.pretable-info {
				text-align: right;
				margin: 2px 0;
				padding: 3px 0;
			}
		}
		table.admin-table {
			width: 100%;
			border-collapse: collapse;
			background-color: #fff;
			border: 1px solid #ccd0d4;
			thead {
				text-align: left;
				tr {
					border-bottom: 1px solid #ccd0d4;
				}
			}
			tbody {
				tr:nth-child(odd) {
					background-color: #f3f3f3;
				}
				td:first-child {
					width: 40px;
				}
			}
			td,
			th {
				padding: 4px 10px;
			}
		}
		.btn {
			border: 1px solid;
			border-radius: 3px;
			text-decoration: none;
			padding: 5px 10px;
			margin: 0 10px;
			&.btn-primary {
				background-color: #f7f7f7;
				color: #0073aa;
				border-color: #ddd;
				font-weight: 600;
				&:hover {
					background-color: #00a0d2;
					color: #fff;
				}
			}
		}
	}
	button {
		background-color: #00669bdd;
		border: 1px solid #00669bdd;
		margin: 20px 0;
		padding: 0 10px;
		line-height: 2.15em;
		color: #fff;
		box-shadow: none;
		border-radius: 3px;
		cursor: pointer;
		&:active {
			background: #00669b;
			border-color: #00669b;
			box-shadow: none;
			color: #fff;
		}
	}
	form {
		.wrapper {
			display: flex;
			flex-wrap: wrap;
			& > .left {
				flex: 1 0 70%;
			}
			& > .right {
				flex: 1 0 30%;
			}
		}
		.form-field {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			padding: 10px 0;
			margin-bottom: 10px;
			& > :first-child {
				flex: 0 0 25%;
				align-self: flex-start;
			}
			& > :nth-child(2) {
				flex: 0 0 65%;
			}
			label {
				font-weight: 600;
			}
			input {
				font-size: 14px;
			}
			input[type="text"] {
				padding: 0 8px;
				line-height: 2em;
				// width: 485px;
				box-shadow: 0 0 0 transparent;
				border-radius: 4px;
				border: 1px solid #7e8993;
				background-color: #fff;
				color: #32373c;
			}
			&:nth-child(2) {
				flex: 0 0 82%;
			}
		}
		select {
			font-size: 14px;
			line-height: 2;
			color: #32373c;
			border-color: #7e8993;
			box-shadow: none;
			border-radius: 3px;
			padding: 0 24px 0 8px;
			min-height: 30px;
			max-width: 25rem;
			-webkit-appearance: none;
			background: #fff url(../images/select_dropdown_icon.svg) no-repeat right
				5px top 55%;
			background-size: 16px 16px;
			cursor: pointer;
			vertical-align: middle;
		}
	}
	.trumbowyg-box {
		width: 500px !important;
		margin: unset !important;
		border: 1px solid #7e8993 !important;
		border-radius: 4px !important;
		button {
			margin: unset;
		}
		.trumbowyg-editor {
			background-color: #fff;
		}
		.trumbowyg-button-pane {
			border-top-left-radius: 4px !important;
			border-top-right-radius: 4px !important;
		}
	}
	input[type="checkbox"] {
		&.checkbox-fancy-1 {
			cursor: pointer;
			position: relative;
			height: 20px;
			width: 40px;
			&:before {
				background-color: #95a5a6;
				border-radius: 20px;
				content: "";
				display: block;
				height: 20px;
				position: absolute;
				transition: all 0.8s ease;
				width: 40px;
			}
			&:after {
				background-color: #ecf0f1;
				border-radius: 50%;
				content: "";
				display: block;
				height: 15px;
				left: 5px;
				margin-top: -8px;
				position: absolute;
				top: 50%;
				transition: all 0.5s ease;
				width: 15px;
			}
			&:checked:before {
				background-color: #27ae60;
			}
			&:checked:after {
				background-color: #fff;
				left: 22px;
			}
		}
		&.checkbox-fancy-2 {
			& + label {
				display: block;
				margin: 0.2em;
				cursor: pointer;
				padding: 0.2em;
			}
			& {
				display: none;
			}
			& + label:before {
				content: "\2714";
				border: 0.1em solid #000;
				border-radius: 0.2em;
				display: inline-block;
				width: 1em;
				height: 1em;
				padding-left: 0.2em;
				padding-bottom: 0.3em;
				margin-right: 0.2em;
				vertical-align: bottom;
				color: transparent;
				transition: 0.2s;
			}
			& + label:active:before {
				transform: scale(0);
			}
			&:checked + label:before {
				background-color: MediumSeaGreen;
				border-color: MediumSeaGreen;
				color: #fff;
			}
			&:disabled + label:before {
				transform: scale(1);
				border-color: #aaa;
			}
			&:checked:disabled + label:before {
				transform: scale(1);
				background-color: #bfb;
				border-color: #bfb;
			}
		}
	}
	div.pagination {
		margin:15px 0;
		a {
			padding: 5px 10px;
			display: inline-block;
			background-color: #fff;
			border: 2px solid #ddd;
			border-radius: 50%;
			text-decoration:none;
			color: #000;
			transition: 0.3s background-color;
			&.active,
			&:hover {
				background-color: $black;
				color: #fff;
				// font-weight: 700;
				// border-color: #fff;
			}
		}
	}
}
p {
	margin: 0;
}
