$primary_color: #6c63ff;
$color_on_primary: #f2f2f2;
$black: #222;
$green: #5cb85c;
$mobile: 500px;
$blue: #1a8cff;
$purple: #9370db;
@font-face {
	font-family: "Open Sans";
	src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
	font-family: "Open Sans Bold";
	src: url(../fonts/OpenSans-Bold.ttf);
}
$font_family: "Open Sans", "arial", monospace, sans-serif;
@mixin fl($kid: 2) {
	& > * {
		flex-basis: (100% / $kid);
		@media (max-width: $mobile) {
			flex-basis: 100%;
		}
	}
}
body {
	margin: 0;
	padding: 0;
	font-family: $font_family;
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	b,
	strong {
		font-family: "Open Sans Bold", $font_family;
	}
}
header {
	max-width: 100%;
	margin: 0 0 0 0;
	padding: 10px 30px;
	background-color: $black;
	display: flex;
	align-items: center;
	& > * {
		flex: 1 1 33.33%;
	}
	nav ul {
		padding: 0;
		margin: 3px 0;
		// text-transform: uppercase;
		li {
			list-style: none;
			display: inline;
			&:not(:last-child) {
				padding-right: 10px;
			}
			a {
				color: $color_on_primary;
				text-decoration: none;
				transition: all 0.4s;
				&:hover {
					color: #f6c705;
					text-shadow: none;
				}
			}
		}
	}
	div.logo {
		justify-self: center;
		// text-align: center;
		img {
			width: 200px;
		}
	}
	.nav-right {
		text-align: right;
	}
	div.search {
		$padding: 10px;
		$bg: rgb(255, 255, 255);
		position: relative;
		input {
			width: 100%;
			box-sizing: border-box;
			padding: 10px;
			border: none;
			border-radius: 3px;
			background-color: #f4f4f4;
			&:focus {
				outline: none;
				background-color: #fff;
			}
		}
		div.search-results {
			display: none;
			position: absolute;
			top: $padding * 3 + 5;
			left: 0;
			right: 0;
			background-color: $bg;
			box-shadow: 0px 1px 4px #111;
			font-size: 14px;
			// padding: $padding;
			ul {
				margin: 0;
				padding: 0;
				list-style: none;
				li {
					a {
						text-decoration: none;
						display: block;
						line-height: 1.3em;
						padding: 5px;
						color: #222;
						.manufacturer {
							font-size: 80%;
							font-style: italic;
						}
						&:hover {
							background-color: $purple;
							color: #fff;
						}
					}
					&:not(:last-child) {
						a {
							border-bottom: 1px dotted #ddd;
						}
					}
				}
			}
		}
	}
}
main {
	min-height: 60vh;
	.page_header {
		background-color: #eee;
		text-align: center;
		padding: 13px 0;
		margin-bottom: 40px;
		h1 {
			margin: 0;
		}
	}
	.page_content {
		margin-bottom: 40px;
	}
}
.row {
	display: flex;
	flex-wrap: wrap;
	& > * {
		flex-grow: 1;
		flex-shrink: 0;
	}
	&.f2 {
		@include fl(2);
	}
	&.f3 {
		@include fl(3);
	}
	&.f4 {
		@include fl(4);
	}
	&.f5 {
		@include fl(5);
	}
}
.img-center {
	display: block;
	margin: 0 auto;
}
.card_wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	list-style: none;
	padding: 0;
	.card {
		$borderColor: #999;
		flex: 0 1 25%;
		display: flex;
		border: 1px solid $borderColor;
		$borderRadius: 9px;
		border-radius: $borderRadius;
		min-height: 180px;
		margin: 20px;
		.header {
			flex: 1 0 55%;
			align-self: center;
			padding: 10px;
			img {
				width: 100%;
				max-width: 320px;
				margin: 0 auto;
				display: block;
			}
		}
		.body {
			flex: 1 0 35%;
			background-color: #eee;
			padding-left: 10px;
			padding-top: 10px;
			padding-right: 10px;
			border-left: 1px solid $borderColor;
			border-right: 1px solid $borderColor;
			border-top-right-radius: $borderRadius;
			border-bottom-right-radius: $borderRadius;
			position: relative;
			.title {
				.model {
					font-weight: 700;
				}
				.manufacturer {
					display: block;
					font-size: 80%;
				}
			}
			.price {
				font-size: 80%;
			}
			.btn.book-now {
				display: block;
				text-decoration: none;
				padding: 10px 20px;
				text-align: center;
				margin: 20px auto;
				border: 1px solid $borderColor;
				background-color: #fff;
				border-radius: 50px;
				color: #222;
				transition: all 0.3s;
				position: absolute;
				bottom: 0;
				left: 10px;
				right: 10px;
				font-size: 95%;
				&:hover {
					color: $blue;
					border-color: $blue;
				}
			}
		}
	}
}
.boxed {
	max-width: 950px;
	margin: 0 auto;
}
.single_vehicle_page {
	.summary {
		.image_wrapper {
			img {
				max-width: 100%;
			}
		}
		.meta {
			flex-basis: 45%;
			margin-left: 35px;
			table {
				width: 100%;
				tr {
					td:first-child {
						font-weight: bold;
					}
					td {
						border-bottom: 1px dotted $blue;
						&.no_border {
							border: none;
						}
					}
				}
			}
		}
	}
}
.btn.btn-primary {
	$blue: #1a8cff;
	display: block;
	text-decoration: none;
	padding: 10px 20px;
	text-align: center;
	margin: 20px auto;
	border: 1px solid $blue;
	background-color: #fff;
	border-radius: 50px;
	color: #222;
	transition: all 0.3s;
	&:hover {
		background-color: $blue;
		color: #fff;
		cursor: pointer;
	}
}
.vehicle_booking_form {
	margin: 20px 0;
	select {
		padding: 7px 15px;
		border-radius: 50px;
		width: 180px;
		&:focus {
			outline: none;
			border-radius: 50px;
			box-shadow: 0 0 3px $blue;
		}
	}
	.book-now-btn {
		&:hover {
		}
	}
}
.info-box {
	$errorColor: #d9534f;
	ul {
		list-style: none;
		padding: 0;
		li {
			margin: 4px 0;
			padding: 5px 10px;
			border-radius: 3px;
			border-width: 1px;
			border-style: solid;
			&.success {
				color: #fff;
				background-color: $green;
				border-color: $green;
			}
			&[class^='error'] {
				color: #fff;
				background-color: #d9534fdd;
				border-color: $errorColor;
			}
		}
	}
}
.customer-dashboard {
	table {
		width: 100%;
		border-collapse: collapse;
	}

	thead {
		th {
			padding: 10px 0;
		}
	}
	td,
	th {
		border: 1px solid $black;
		text-align: center;
	}
	tbody {
		tr {
			td:nth-child(2) {
				width: 10%;
			}
			td:nth-child(3) {
				display: flex;
				align-items: center;
				text-align: left;
				div:last-child {
					margin-left: 20px;
				}
				p {
					margin: 2px;
				}
			}
			td:last-child {
				width: 20%;
			}
		}
	}
}
button {
	$grey: #333;
	$white: #fff;
	border: 1px solid $purple;
	color: $white;
	padding: 10px 20px;
	background-color: #9370db;
	border-radius: 3px;
	transition: border-radius 0.8s;
	cursor: pointer;
	&.uc {
		text-transform: uppercase;
	}
	&.full-width {
		width: 100%;
		box-sizing: border-box;
	}
	&:hover {
		background-color: #9370dbee;
	}
}
.tab_wrapper {
	$grey: #ddd;
	$darkGrey: #777;
	display: flex;
	flex-wrap: wrap;
	border: 1px solid $grey;
	& > .tab-links-wrapper {
		flex: 1 0 20%;
		background-color: $grey;
		div.tab-link {
			padding: 10px;
			&.active-tab {
				background-color: $darkGrey;
				color: #fff;
			}
		}
	}
	& > .tab-contents-wrapper {
		flex: 1 0 75%;
		padding: 10px;
		height: 240px;
		overflow-y: auto;
		div.tab-content {
			display: none;
			&.active-tab {
				display: block;
			}
		}
	}
}
// Login page
.cardbox {
	$width: 400px;
	width: $width;
	margin: 0 auto;
	background-color: #fff;
	border: 1px solid #000;
	padding: 20px 10px;
	h1 {
		margin: 0;
	}
}
// Homepage slider
.slider {
	background: #0f0c29;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color: #fff;
	height: 350px;
	display: flex;
	align-items: center;
	text-align: center;
	h1,h4 {
		margin: 0;
	}
	h1 {
		font-size: 36px;
		line-height: 1.5em;
	}
	h4 {
		font-weight: 400;
	}
	.slider-content {
		margin: 0 auto;
		max-width: 1200px;
	}
}
.description {
	* {
		line-height: 1.8em;
	}
	.description-content {
		display: flex;
		align-items: center;
		max-width: 1200px;
		margin: 0 auto;
		& > * {
			flex: 0 0 50%;
		}
		.column-1 {
			img {
				width: 100%;
			}
		}
		.column-2 {
			ul {
				list-style: none; /* Remove default bullets */
			}
			ul li::before {
				content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
				color: #9370db; /* Change the color */
				font-weight: bold; /* If you want it to be bold */
				display: inline-block; /* Needed to add space between the bullet and the text */
				width: 1em; /* Also needed for space (tweak if needed) */
				margin-left: -1em; /* Also needed for space (tweak if needed) */
				font-size: 18px;
			}
		}
	}
}
#footer {
	$footerPrimaryColor: #bbc0c4;
	$footerSecondaryColor: #848d95;
	background-color: #242729;
	padding: 20px 0 20px 0;
	.footer-cols-container {
		display: flex;
		max-width: 1200px;
		margin: 0 auto;
		padding-bottom: 20px;
		& > * {
			flex: 0 0 33.333%;
		}
		.footer-col {
			padding: 10px;
		}
		#footer-col-1 {
			color: $footerPrimaryColor;
			h1 {
				margin: 0;
			}
		}
		#footer-col-3 {
			.social-icons-wrapper {
				li {
					display: inline-block;
					padding: 5px 10px;
					&:first-child {
						padding-left: 0;
					}
					i {
						font-size: 140%;
					}
				}
			}
		}
	}
	.footer-bottom-container {
		text-align: center;
		padding: 5px 0;
		font-size: 80%;
		p {
			color: #eee;
		}
	}
	a {
		$purple: #9370db;
		text-decoration: none;
		color: $footerSecondaryColor;
		border-bottom: 1px dashed $purple;
		&:hover {
			color: $footerPrimaryColor;
		}
	}
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			padding: 5px 0;
		}
	}
	p {
		margin: 0;
	}
	h4 {
		margin: 0;
		color: $footerPrimaryColor;
		padding-bottom: 10px;
		&.secondary-heading {
			padding-top: 10px;
		}
	}
}
// Form
form.form {
	$width: 450px;
	width: $width;
	margin: 0 auto;
	label {
		display: block;
		padding-bottom: 5px;
		font-weight: 600;
	}
	input {
		width: $width;
		box-sizing: border-box;
		&[type=text],
		&[type=email],
		&[type=password] {
			padding: 15px 10px;
			border-radius: 3px;
			border: 1px solid #ddd;
			&:focus {
				outline: none;
				border-color: $purple;
			}
		}
	}
	.form-field {
		margin-bottom: 20px;
	}
}