<header>
	<div class="logo">
		<a href="/">
			<img src="{{assets('images/logo.png')}}" alt="{{app.site_title}}"/>
		</a>
	</div>

	<div class="search">
		<input type="text" id='search' name='search' placeholder='Search by model..' value='' />
		<div class="search-results"></div>
	</div>
	
	<nav class="nav-right">
		<ul>
			{% if session.logged_in_as == "customer" %}
				<li>
					<a href="/customer/dashboard">Dashboard</a>
				</li>
			{% endif %}
			{% if session.logged_in_as == "admin" %}
				<li>
					<a href="/admin">Admin Panel</a>
				</li>
			{% endif %}
			{% if session.logged_in != "yes" %}
				<li>
					<a href="/register">Register</a>
				</li>
			{% endif %}
			<li>
				{% if session.logged_in %}
					<a href="/logout">Log out</a>
				{% else %}
					<a href="/login">Log in</a>
				{% endif %}
			</li>
		</ul>
	</nav>
</header>
